@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
.body{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #FAFAFA;
  overflow-x: hidden;
}