*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    width: 92rem;
    height: 22rem;
    position: absolute;
    display: flex;
    top: 85px;
    left: 100px;
    gap: 1rem;

}
.left_side{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}