@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table_section{
    width: 61.2%;
    /* height: 285px; */
    background-color: #fff;
    border: 1px solid #EDF2F7;
    border-radius: 14px;
    padding: 1rem;
    padding-inline: 1rem;
}
.table__header{
    width: 99%;
    padding: .4rem 0 .4rem 0;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family:Plus Jakarta Sans ;
    line-height: 12px;
}
.header{
    font-weight: 600;
}
.header_link{
    text-decoration: none;
    font-weight: 500;
    color: #34CAA5;
    

}
.data_1{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.table{
    width: 100%;
    font-family: Plus Jakarta Sans ;
}
.table_head{
   text-align: left;
   border-bottom: 1px solid #EDF2F6;
  
}
.status.paid {
    color: #34CAA5;
}

.status.refund {
    color: #ED544E;
}

.data_last{
    display: flex;
    align-items: center;
    gap: .5rem;
}
th{
    color: #9CA4AB;
    font-weight: 500;
    font-size: .85rem;
    border-bottom: 1px solid #EDF2F6;
    margin-bottom: 1rem;
    padding: 0 0 .7rem 0;
}
td{
 padding:.45rem 0 .45rem 0 ;  
}
